body {
  margin: 0;
  font-family: 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .5px;
  color: #ffffff;
}

/* ======================== Loader ================== */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #222222;
  opacity: 0.4;
  z-index: 1000;
}
.loader-wrapper:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.logo {
  height: auto;
  width: 120px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../Assets/logo.png); 
  margin: 10px;
}

.sub-heading {
  flex: 1 1 auto;
  font-size: 20px;
  font-weight: bold;
}
.navbar {
  position: relative; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  background: #002055; /* Old browsers */

}
/* Style the navbar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;

}
.navbar a:hover {
  cursor: pointer;
}
.content {
  position: relative;
  overflow-y: scroll; 
  right: 0;
  left: 0;
  width: 83%;
  margin-right: auto;
  margin-left: auto;
  min-height: auto;
  top: 2em;
  padding: 0px 0px 0px 0px;
  background: #fff;
  border-radius:5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
}
.footer-section label {
  color: #fff;
}

.footer-section label:hover {
  text-decoration: underline;
  color: #fff;
}